nav {
  background-color: rgba(254, 131, 7, 0.914);
  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  li {
    padding: 0.5rem 1rem;
  }
  a {
    font-size: 1.5rem;
    font-family: cursive;
  }
}
